<div class="input-group">
  <input #input type="text" [matDatepicker]="datepicker" class="form-control m-input" [value]="dateValue"
    (dateInput)="onInputEvent($event)" (dateChange)="onChangeEvent()" (click)="datepicker.open()" [disabled]="disable"
    readonly>
  <div class="input-group-append">
    <span class="input-group-text cursorpointer" (click)="datepicker.open()">
      <i class="fa fa-calendar-alt"></i>
    </span>
  </div>
</div>
<mat-datepicker #datepicker></mat-datepicker>
